**/*.iml
**/*.so
**/*db2jcc4.jar
**/*dxp-license-*.xml
**/*hotfix*.zip
**/.classpath
**/.ivy
**/.project
**/.sass-cache
**/.settings
**/.web_bundle_build
**/activation-key-*.xml
**/bin
**/build
**/build_gradle
**/dist
**/node_modules
**/node_modules_cache
**/test-coverage
**/tmp
.DS_Store
.env
.gradle
.idea
/binds
/bundles
/containerLogs
/data/*
/dumps/*
/exported_data
/gradle-*.properties
/helper/data
/helper/dumps
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
/shared_workspaces
test-results